* {
  border: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: hsla(180, 8%, 87%, 1) 37%;
  width: 100vw;
  height: 100vh;
}

a:hover {
  background: #a3c4f3;
  color: #bb3e03;
  border-radius: 10px;
}

.row {
  display: flex;
  gap: 1;
}
.column {
  padding: 1rem;
  flex: 1;
}

img {
  width: 450px;
  height: 100vh;
  /* border: 1px solid red; */
  border-radius: 58px;
}

@media only screen and (max-width: 764px) {
}
