@import url("https://fonts.googleapis.com/css?family=Merriweather:400,400i,700");

* {
  border: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: #edeee8;
}

a {
  font-family: "Red Hat Display", sans-serif;
}
a:hover {
  background: #edeee8;
  border-radius: 10px;
}
.row a {
  border-radius: 50px;
}
.row a:hover {
  background: #4fab79;
  color: #fff;
}
#home {
  height: 100vh;
  border: 0.5px solid #edeee8;
}
#about {
  height: 100vh;
  border: 0.5px solid #edeee8;
}
#services {
  height: 100vh;
  border: 0.5px solid #edeee8;
}
#contact {
  height: 100vh;
  border: 0.5px solid #edeee8;
}

#services .col-sm {
  border: 1px solid #4fab79;
  font-family: "Red Hat Display", sans-serif;
  border-radius: 10px;
  /* margin-left: 20px; */
  box-shadow: -7px -7px 20px 0px #fff, -4px -4px 5px 0px #fff,
    7px 7px 20px 0px #0002, 4px 4px 5px 0px #0001, inset 0px 0px 0px 0px #fff,
    inset 0px 0px 0px 0px #0001, inset 0px 0px 0px 0px #fff,
    inset 0px 0px 0px 0px #0001;
}

#services i {
  background: #edeee8;
  padding: 15px 15px;
  margin-bottom: 10px;
  color: #4fab79;
  border-radius: 50%;
}

#services .col-sm:hover {
  background: #4fab79;
  color: #fff;
}

hr {
  color: #4fab79;
}
